<form enctype="multipart/form-data" method="post" action="up.php">
	<p><b><u><i>Importing may take 1-4 minutes, Please do not refresh the page or go back on home once you click on uplaod button!</u>
	<br><br>Choose a zip file to upload:</i></b></p>
	<input type="file" name="zip_file" /></label>
	Enter the snapshot name:	<input type = "text" name = "SSname"/> 
	<input type="submit" name="submit" value="Upload" onclick = "goHome()"/>
</form>
	<script>
		function goHome():{
			location.href = "timetable.php";
		}
	</script>
